<?xml version='1.0' encoding='utf-8'?>
<robot name="tiangong3">
  <link name="pelvis">
    <inertial>
      <origin xyz="-0.000924 0.000347 -0.054631" rpy="0 0 0" />
      <mass value="11.528555" />
      <inertia ixx="0.070798" ixy="-0.00036" ixz="-0.001294" iyy="0.064805" iyz="9.8e-05" izz="0.050003" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/pelvis.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/pelvis.STL" />
      </geometry>
    </collision>
  </link>
  <link name="hip_pitch_l_link">
    <inertial>
      <origin xyz="0.009185 0.069598 -0.024259" rpy="0 0 0" />
      <mass value="2.373121" />
      <inertia ixx="0.005046" ixy="-0.000155" ixz="9.6e-05" iyy="0.003578" iyz="0.000158" izz="0.003817" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/hip_pitch_l_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/hip_pitch_l_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="hip_pitch_l_joint" type="revolute">
    <origin xyz="-0.00010305 0.076815 -0.11847" rpy="-0.17453 0 0.0013415" />
    <parent link="pelvis" />
    <child link="hip_pitch_l_link" />
    <axis xyz="0 1 0" />
    <limit lower="-3.0543261909900763" upper="2.792526803190927" effort="235.0" velocity="16.755160819145562" />
  </joint>
  <link name="hip_roll_l_link">
    <inertial>
      <origin xyz="-0.001737 -9.9e-05 -0.038553" rpy="0 0 0" />
      <mass value="0.539594" />
      <inertia ixx="0.001041" ixy="3e-06" ixz="1.3e-05" iyy="0.001685" iyz="-1e-06" izz="0.001409" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/hip_roll_l_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/hip_roll_l_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="hip_roll_l_joint" type="revolute">
    <origin xyz="0 0.073992 -0.026966" rpy="0.17453 0 0" />
    <parent link="hip_pitch_l_link" />
    <child link="hip_roll_l_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.41887902047863906" upper="2.6179938779914944" effort="235.0" velocity="16.755160819145562" />
  </joint>
  <link name="hip_yaw_l_link">
    <inertial>
      <origin xyz="0.001492 -0.023508 -0.126309" rpy="0 0 0" />
      <mass value="5.562147" />
      <inertia ixx="0.041861" ixy="-0.000278" ixz="-6.5e-05" iyy="0.039333" iyz="-0.002505" izz="0.013727" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/hip_yaw_l_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/hip_yaw_l_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="hip_yaw_l_joint" type="revolute">
    <origin xyz="0 0 -0.0785" rpy="0 0 0" />
    <parent link="hip_roll_l_link" />
    <child link="hip_yaw_l_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.3962634015954636" upper="4.4505895925855405" effort="150.0" velocity="13.82300767579509" />
  </joint>
  <link name="knee_pitch_l_link">
    <inertial>
      <origin xyz="0.024251 0.000717 -0.15523" rpy="0 0 0" />
      <mass value="2.945335" />
      <inertia ixx="0.0322" ixy="-3.2e-05" ixz="-0.001266" iyy="0.032444" iyz="-0.000495" izz="0.003428" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/knee_pitch_l_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/knee_pitch_l_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="knee_pitch_l_joint" type="revolute">
    <origin xyz="-0.012927 0 -0.30599" rpy="0 0.018418 0" />
    <parent link="hip_yaw_l_link" />
    <child link="knee_pitch_l_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.08726646259971647" upper="2.5307274153917776" effort="400.0" velocity="11.100294042683936" />
  </joint>
  <link name="ankle_pitch_l_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <mass value="0.142658" />
      <inertia ixx="2.3e-05" ixy="0.0" ixz="0.0" iyy="3.2e-05" iyz="0.0" izz="4.9e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/ankle_pitch_l_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/ankle_pitch_l_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="ankle_pitch_l_joint" type="revolute">
    <origin xyz="0.0073681 0 -0.39993" rpy="0 0 0" />
    <parent link="knee_pitch_l_link" />
    <child link="ankle_pitch_l_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.1868238913561442" upper="0.5235987755982988" effort="55.0" velocity="14.137166941154069" />
  </joint>
  <link name="ankle_roll_l_link">
    <inertial>
      <origin xyz="0.024536 -1.7e-05 -0.033593" rpy="0 0 0" />
      <mass value="0.888892" />
      <inertia ixx="0.000779" ixy="-1e-06" ixz="0.000255" iyy="0.004839" iyz="1e-06" izz="0.005126" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/ankle_roll_l_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/ankle_roll_l_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="ankle_roll_l_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="ankle_pitch_l_link" />
    <child link="ankle_roll_l_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5235987755982988" upper="0.5235987755982988" effort="55.0" velocity="14.137166941154069" />
  </joint>
  <link name="hip_pitch_r_link">
    <inertial>
      <origin xyz="0.009185 -0.069598 -0.024259" rpy="0 0 0" />
      <mass value="2.373121" />
      <inertia ixx="0.005046" ixy="0.000155" ixz="9.6e-05" iyy="0.003578" iyz="-0.000158" izz="0.003817" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/hip_pitch_r_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/hip_pitch_r_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="hip_pitch_r_joint" type="revolute">
    <origin xyz="0.00010305 -0.076815 -0.11847" rpy="0.17453 0 0.0013415" />
    <parent link="pelvis" />
    <child link="hip_pitch_r_link" />
    <axis xyz="0 1 0" />
    <limit lower="-3.0543261909900763" upper="2.792526803190927" effort="235.0" velocity="16.755160819145562" />
  </joint>
  <link name="hip_roll_r_link">
    <inertial>
      <origin xyz="-0.001737 9.9e-05 -0.038553" rpy="0 0 0" />
      <mass value="0.539594" />
      <inertia ixx="0.001041" ixy="-3e-06" ixz="1.3e-05" iyy="0.001685" iyz="1e-06" izz="0.001409" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/hip_roll_r_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/hip_roll_r_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="hip_roll_r_joint" type="revolute">
    <origin xyz="0 -0.073992 -0.026966" rpy="-0.17453 0 0" />
    <parent link="hip_pitch_r_link" />
    <child link="hip_roll_r_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.6179938779914944" upper="0.41887902047863906" effort="235.0" velocity="16.755160819145562" />
  </joint>
  <link name="hip_yaw_r_link">
    <inertial>
      <origin xyz="0.001492 0.023508 -0.126309" rpy="0 0 0" />
      <mass value="5.562147" />
      <inertia ixx="0.041861" ixy="0.000278" ixz="-6.5e-05" iyy="0.039333" iyz="0.002505" izz="0.013727" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/hip_yaw_r_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/hip_yaw_r_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="hip_yaw_r_joint" type="revolute">
    <origin xyz="0 0 -0.0785" rpy="0 0 0" />
    <parent link="hip_roll_r_link" />
    <child link="hip_yaw_r_link" />
    <axis xyz="0 0 1" />
    <limit lower="-4.4505895925855405" upper="1.3962634015954636" effort="150.0" velocity="13.82300767579509" />
  </joint>
  <link name="knee_pitch_r_link">
    <inertial>
      <origin xyz="0.024251 -0.000717 -0.15523" rpy="0 0 0" />
      <mass value="2.945335" />
      <inertia ixx="0.0322" ixy="3.2e-05" ixz="-0.001266" iyy="0.032444" iyz="0.000495" izz="0.003428" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/knee_pitch_r_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/knee_pitch_r_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="knee_pitch_r_joint" type="revolute">
    <origin xyz="-0.012927 0 -0.30599" rpy="0 0.036386 0" />
    <parent link="hip_yaw_r_link" />
    <child link="knee_pitch_r_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.08726646259971647" upper="2.5307274153917776" effort="400.0" velocity="11.100294042683936" />
  </joint>
  <link name="ankle_pitch_r_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <mass value="0.142658" />
      <inertia ixx="2.3e-05" ixy="0.0" ixz="0.0" iyy="3.2e-05" iyz="0.0" izz="4.9e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/ankle_pitch_r_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/ankle_pitch_r_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="ankle_pitch_r_joint" type="revolute">
    <origin xyz="0.014553 0 -0.39974" rpy="0 0 0" />
    <parent link="knee_pitch_r_link" />
    <child link="ankle_pitch_r_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.1868238913561442" upper="0.5235987755982988" effort="55.0" velocity="14.137166941154069" />
  </joint>
  <link name="ankle_roll_r_link">
    <inertial>
      <origin xyz="0.024536 1.7e-05 -0.033593" rpy="0 0 0" />
      <mass value="0.888892" />
      <inertia ixx="0.000779" ixy="1e-06" ixz="0.000255" iyy="0.004839" iyz="-1e-06" izz="0.005126" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/ankle_roll_r_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/ankle_roll_r_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="ankle_roll_r_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="ankle_pitch_r_link" />
    <child link="ankle_roll_r_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5235987755982988" upper="0.5235987755982988" effort="55.0" velocity="14.137166941154069" />
  </joint>
  <link name="imu_waist_link">
    <inertial>
      <origin xyz="0.001734 0.001046 -0.009253" rpy="0 0 0" />
      <mass value="0.008" />
      <inertia ixx="1e-06" ixy="0.0" ixz="0.0" iyy="1e-06" iyz="0.0" izz="1e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/imu_waist_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/imu_waist_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="imu_waist_joint" type="fixed">
    <origin xyz="-0.081641 -0.00010952 -0.063057" rpy="-3.1416 0 -1.5695" />
    <parent link="pelvis" />
    <child link="imu_waist_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="waist_yaw_link">
    <inertial>
      <origin xyz="-0.002204 -0.001068 0.038101" rpy="0 0 0" />
      <mass value="1.908803" />
      <inertia ixx="0.003059" ixy="-6.7e-05" ixz="0.000212" iyy="0.003274" iyz="8.7e-05" izz="0.002192" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/waist_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/waist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_yaw_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0.0013415" />
    <parent link="pelvis" />
    <child link="waist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.6179938779914944" upper="3.2288591161895095" effort="91.0" velocity="9.42477796076938" />
  </joint>
  <link name="waist_roll_link">
    <inertial>
      <origin xyz="-0.007616 -0.005361 0.069902" rpy="0 0 0" />
      <mass value="3.995987" />
      <inertia ixx="0.016265" ixy="0.000799" ixz="1.5e-05" iyy="0.008993" iyz="9.2e-05" izz="0.016642" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/waist_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/waist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_roll_joint" type="revolute">
    <origin xyz="0 0 0.083796" rpy="0 0 0" />
    <parent link="waist_yaw_link" />
    <child link="waist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.4363323129985824" upper="0.4363323129985824" effort="150.0" velocity="13.82300767579509" />
  </joint>
  <link name="waist_pitch_link">
    <inertial>
      <origin xyz="-0.000234 0.001537 0.180095" rpy="0 0 0" />
      <mass value="10.400612" />
      <inertia ixx="0.164553" ixy="-0.000105" ixz="0.005502" iyy="0.128955" iyz="0.000409" izz="0.098971" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/waist_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/waist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_pitch_joint" type="revolute">
    <origin xyz="0 0 0.078424" rpy="0 0 0" />
    <parent link="waist_roll_link" />
    <child link="waist_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.5235987755982988" upper="0.8726646259971648" effort="150.0" velocity="13.82300767579509" />
  </joint>
  <link name="camera_body_front_link">
    <inertial>
      <origin xyz="0.010986 -0.000307 -0.016475" rpy="0 0 0" />
      <mass value="0.1" />
      <inertia ixx="1.6e-05" ixy="0.0" ixz="0.0" iyy="8e-05" iyz="0.0" izz="7.7e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/camera_body_front_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/camera_body_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="camera_body_front_joint" type="fixed">
    <origin xyz="0.092709 -0.02375 0.039976" rpy="2.5307 0 1.5708" />
    <parent link="waist_pitch_link" />
    <child link="camera_body_front_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="imu_head_link">
    <inertial>
      <origin xyz="0.001734 0.001046 -0.009253" rpy="0 0 0" />
      <mass value="0.008" />
      <inertia ixx="1e-06" ixy="0.0" ixz="0.0" iyy="1e-06" iyz="0.0" izz="1e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/imu_head_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/imu_head_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="imu_head_joint" type="fixed">
    <origin xyz="-0.057551 0 0.42777" rpy="-3.1416 0 -1.5708" />
    <parent link="waist_pitch_link" />
    <child link="imu_head_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="radar_head_link">
    <inertial>
      <origin xyz="-0.0002 -6e-06 -0.017365" rpy="0 0 0" />
      <mass value="0.265" />
      <inertia ixx="0.000124" ixy="0.0" ixz="0.0" iyy="0.000133" iyz="0.0" izz="0.000132" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/radar_head_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/radar_head_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="radar_head_joint" type="fixed">
    <origin xyz="0.00022262 0 0.38237" rpy="3.1416 0 1.5708" />
    <parent link="waist_pitch_link" />
    <child link="radar_head_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="head_yaw_link">
    <inertial>
      <origin xyz="0.014806 -0.000947 0.027077" rpy="0 0 0" />
      <mass value="0.968233" />
      <inertia ixx="0.001922" ixy="7.1e-05" ixz="-2.6e-05" iyy="0.00169" iyz="4.8e-05" izz="0.002505" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/head_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/head_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="head_yaw_joint" type="revolute">
    <origin xyz="0.00022262 0 0.43727" rpy="0 0 0" />
    <parent link="waist_pitch_link" />
    <child link="head_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.0471975511965976" upper="1.0471975511965976" effort="6.3" velocity="7.644542123735163" />
  </joint>
  <link name="head_pitch_link">
    <inertial>
      <origin xyz="-0.001423 0.00218 -3.6e-05" rpy="0 0 0" />
      <mass value="0.087922" />
      <inertia ixx="0.000106" ixy="2e-06" ixz="0.0" iyy="2.7e-05" iyz="0.0" izz="9.9e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/head_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/head_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="head_pitch_joint" type="revolute">
    <origin xyz="0.0689 -5.5575E-05 -0.0008" rpy="0 0 0" />
    <parent link="head_yaw_link" />
    <child link="head_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.8726646259971648" upper="0.2617993877991494" effort="6.3" velocity="7.644542123735163" />
  </joint>
  <link name="camera_head_link">
    <inertial>
      <origin xyz="0.010986 -0.000307 -0.016475" rpy="0 0 0" />
      <mass value="0.1" />
      <inertia ixx="1.6e-05" ixy="0.0" ixz="0.0" iyy="8e-05" iyz="0.0" izz="7.7e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/camera_head_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/camera_head_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="camera_head_joint" type="fixed">
    <origin xyz="0.01555 0.011078 0" rpy="-1.5708 0 -1.5708" />
    <parent link="head_pitch_link" />
    <child link="camera_head_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="shoulder_pitch_l_link">
    <inertial>
      <origin xyz="0.006861 0.060647 -2.7e-05" rpy="0 0 0" />
      <mass value="0.914808" />
      <inertia ixx="0.000763" ixy="-4.9e-05" ixz="-1e-06" iyy="0.000912" iyz="0.0" izz="0.001164" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/shoulder_pitch_l_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/shoulder_pitch_l_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="shoulder_pitch_l_joint" type="revolute">
    <origin xyz="0 0.14552 0.18664" rpy="0.087266 0 0" />
    <parent link="waist_pitch_link" />
    <child link="shoulder_pitch_l_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.844886680750757" upper="2.844886680750757" effort="90.0" velocity="7.218332720398149" />
  </joint>
  <link name="shoulder_roll_l_link">
    <inertial>
      <origin xyz="-0.000672 0.0 -0.043313" rpy="0 0 0" />
      <mass value="0.319153" />
      <inertia ixx="0.000764" ixy="0.0" ixz="-4e-06" iyy="0.000936" iyz="0.0" izz="0.000544" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/shoulder_roll_l_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/shoulder_roll_l_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="shoulder_roll_l_joint" type="revolute">
    <origin xyz="0 0.0678 0" rpy="0 0 0" />
    <parent link="shoulder_pitch_l_link" />
    <child link="shoulder_roll_l_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.19198621771937624" upper="3.3335788713091694" effort="90.0" velocity="7.218332720398149" />
  </joint>
  <link name="shoulder_yaw_l_link">
    <inertial>
      <origin xyz="0.009141 0.003692 -0.094058" rpy="0 0 0" />
      <mass value="1.502215" />
      <inertia ixx="0.007803" ixy="-6.8e-05" ixz="0.000939" iyy="0.007535" iyz="0.000395" izz="0.001334" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/shoulder_yaw_l_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/shoulder_yaw_l_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="shoulder_yaw_l_joint" type="revolute">
    <origin xyz="0 0 -0.1004" rpy="0 0 0" />
    <parent link="shoulder_roll_l_link" />
    <child link="shoulder_yaw_l_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.844886680750757" upper="2.844886680750757" effort="50.0" velocity="11.455294012539582" />
  </joint>
  <link name="elbow_pitch_l_link">
    <inertial>
      <origin xyz="-0.01603 -0.000863 -0.202772" rpy="0 0 0" />
      <mass value="0.531558" />
      <inertia ixx="0.012063" ixy="9e-06" ixz="-0.000126" iyy="0.012055" iyz="-0.000327" izz="0.000697" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/elbow_pitch_l_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/elbow_pitch_l_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="elbow_pitch_l_joint" type="revolute">
    <origin xyz="0.02 0 -0.1596" rpy="0 0 0" />
    <parent link="shoulder_yaw_l_link" />
    <child link="elbow_pitch_l_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.548180707911721" upper="0.19198621771937624" effort="50.0" velocity="11.455294012539582" />
  </joint>
  <link name="shoulder_pitch_r_link">
    <inertial>
      <origin xyz="0.006861 -0.060647 -2.7e-05" rpy="0 0 0" />
      <mass value="0.914808" />
      <inertia ixx="0.000763" ixy="4.9e-05" ixz="-1e-06" iyy="0.000912" iyz="0.0" izz="0.001164" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/shoulder_pitch_r_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/shoulder_pitch_r_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="shoulder_pitch_r_joint" type="revolute">
    <origin xyz="0 -0.14552 0.18664" rpy="-0.087266 0 0" />
    <parent link="waist_pitch_link" />
    <child link="shoulder_pitch_r_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.844886680750757" upper="2.844886680750757" effort="90.0" velocity="7.218332720398149" />
  </joint>
  <link name="shoulder_roll_r_link">
    <inertial>
      <origin xyz="-0.000672 0.0 -0.043313" rpy="0 0 0" />
      <mass value="0.319153" />
      <inertia ixx="0.000764" ixy="0.0" ixz="-4e-06" iyy="0.000936" iyz="0.0" izz="0.000544" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/shoulder_roll_r_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/shoulder_roll_r_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="shoulder_roll_r_joint" type="revolute">
    <origin xyz="0 -0.0678 0" rpy="0 0 0" />
    <parent link="shoulder_pitch_r_link" />
    <child link="shoulder_roll_r_link" />
    <axis xyz="1 0 0" />
    <limit lower="-3.3335788713091694" upper="0.19198621771937624" effort="90.0" velocity="7.218332720398149" />
  </joint>
  <link name="shoulder_yaw_r_link">
    <inertial>
      <origin xyz="0.009141 -0.003692 -0.094058" rpy="0 0 0" />
      <mass value="1.502215" />
      <inertia ixx="0.007803" ixy="6.8e-05" ixz="0.000939" iyy="0.007535" iyz="-0.000395" izz="0.001334" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/shoulder_yaw_r_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/shoulder_yaw_r_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="shoulder_yaw_r_joint" type="revolute">
    <origin xyz="0 0 -0.1004" rpy="0 0 0" />
    <parent link="shoulder_roll_r_link" />
    <child link="shoulder_yaw_r_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.844886680750757" upper="2.844886680750757" effort="50.0" velocity="11.455294012539582" />
  </joint>
  <link name="elbow_pitch_r_link">
    <inertial>
      <origin xyz="-0.01603 0.000863 -0.202772" rpy="0 0 0" />
      <mass value="0.531558" />
      <inertia ixx="0.012063" ixy="-9e-06" ixz="-0.000126" iyy="0.012055" iyz="0.000327" izz="0.000697" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/elbow_pitch_r_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tiangong3_urdf/meshes/elbow_pitch_r_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="elbow_pitch_r_joint" type="revolute">
    <origin xyz="0.02 0 -0.1596" rpy="0 0 0" />
    <parent link="shoulder_yaw_r_link" />
    <child link="elbow_pitch_r_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.548180707911721" upper="0.19198621771937624" effort="50.0" velocity="11.455294012539582" />
  </joint>
</robot>